/* COLOURS
    Body background(tan):       #D2B48C
    Table Text(white):          #FFFFFF
    Tables(coral):              #F08080
    Table-header(Yellow):       #FFFF99
    Links(silver):              #696969
    Detail header(silver)       #696969

    #D2B48C (tan)
    #F08080 (coral) with #FFFFFF (white) or #696969 (silver) text
    #FFFF99 (yellow) with #696969 (silver) or #F08080 (coral) tex

*/

body {
    background-color:#D2B48C;
}
form{
    
    width: 800px;
    padding: 25px;
    border: 5px;
    margin: 10px;

}

#aboutus_text {
    width: 80%;
    padding: 5px;
    border: 0px ;
    margin: 5px;
}

.validationError {color:red; font-weight:bold;}