<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <connectionStrings>

    <remove name="LocalSqlServer"/>

    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g1; Persist Security Info=True; User ID=msci3300_g1; Password=Passw0rd!1"/>

    <add name="db_group1_cpetit_recipe" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g1; Persist Security Info=True; User ID=msci3300_g1; Password=Passw0rd!1" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>